*,
::after,
::before {
  -webkit-backface-visibility: hidden;
  background-repeat: no-repeat;
  box-sizing: inherit;
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

::after,
::before {
  text-decoration: inherit;
  vertical-align: inherit;
}

::-moz-selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
}

body {
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  background: #000;
  color: $primaryColor;
  font: 16px/1.5 $primaryFont;
  height: 100%;
  width: 100%;
}

img {
  border: 0;
  height: auto;
  max-width: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

ol,
ul {
  list-style: none;
}

[aria-busy="true"] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}
