.date-display-outer-container {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.date-display-column-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.day-bar-container {
  display: flex;
  min-height: 60px;
}

.date-container {
  align-items: center;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60px;

  span {
    color: #fff;
    display: block;
    font-family: $secondaryFont;
    line-height: 1em;

    &:last-child {
      font-size: 1.5rem;
    }
  }
}

.theme-container {
  background: $secondaryColor;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font: 1.25rem/1.15 $secondaryFont;
  padding: 0 $hspace;
  text-transform: uppercase;
  width: 200px;
}
