@import './date-display-containers';
@import './arrows';
@import './primary-container';
@import './movie-card';
@import './trailer';

.day-outer-container {
  background-image: url('../images/loading.svg');
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin-top: -55px;
  overflow: hidden;
  position: relative;
  width: 100%;

  &:nth-child(odd) {
    clip-path: polygon(0 0, 100% 75px, 100% calc(100% - 75px), 0 100%);
    padding-top: 100px;
  }

  &:nth-child(even) {
    clip-path: polygon(0 75px, 100% 0, 100% 100%, 0 calc(100% - 75px));
    padding-top: 75px;
  }

  &:first-child {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 75px), 0 100%);
    margin-top: 0;
  }

  &:last-child {
    clip-path: polygon(0 0, 100% 75px, 100% 100%, 0 100%);
  }

  &.loaded {
    .primary-movie-container {
      opacity: 1;
    }
  }
}

.day-inner-container {
  display: flex;
  height: 100%;
  position: relative;
  transition: opacity 1s ease;
  width: 100%;
  z-index: 2;

  &.trailer {
    opacity: 0;
  }
}

.icons-container {
  display: flex;
}

.stream-icon {
  height: 34px;
  filter: grayscale(100%);
  margin-right: $hspace;
  transition: filter 0.15s ease;
  width: 34px;

  &:hover {
    filter: none;
  }
}
