.movie-card-container {
  max-width: 750px;
  opacity: 0.95;
  width: 100%;
}

h2 {
  background: #000;
  color: #fff;
  display: block;
  font: 1.75rem/1 $secondaryFont;
  margin-bottom: $vspace/5;
  padding: $vspace $hspace;
  text-transform: uppercase;
  transition: transform 0.75s 0.2s ease;
  width: 100%;
}

.movie-details-container {
  align-items: center;
  background: $secondaryColor;
  color: #fff;
  display: flex;
  margin-bottom: $vspace;
  padding: $vspace/2 $hspace;
  transition: transform 0.75s 0.1s ease;

  span {
    margin-right: $hspace*2;
  }

  svg {
    height: 20px;
    margin-right: $hspace;
    width: 20px;

    path {
      fill: rgba(255,255,255,.9);
    }
  }
}

.movie-card-content-container {
  background: #fff;
  display: flex;
  min-height: 250px;
  padding: $vspace $hspace;
  transition: transform 0.75s ease;
}

.movie-cover-container {
  margin-right: $hspace;

  img {
    display: block;
  }
}

.synopsys-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 150px);
}
