.primary-movie-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  opacity: 0;
  padding: 0 $hspace*2;
  transition: opacity 1s ease;
  width: 100%;

  &:nth-of-type(odd) {
    margin-top: -100px;
  }

  &:nth-of-type(even) {
    margin-top: -75px;
  }
  @media screen and (max-width: 750px) {
    flex-direction: column;
    justify-content: center;
    padding-top: 75px;
  }
}

.play-icon-container {
  height: 103px;
  transition: all 1s ease;
  width: 103px;
  @media screen and (max-width: 750px) {
    align-self: flex-start;
    margin-bottom: $vspace*2;
  }
}

.play-icon {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.25s ease;

  &:hover {
    opacity: 0.9;
  }
}
