.trailer-container {
  bottom: 0;
  display: none;
  left: 0;
  margin-top: -75px;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 1s ease;

  &.active {
    display: block;
    opacity: 1;
  }
}

.trailer {
  height: 100%;
  width: 100%;
}

.close-icon {
  bottom: 75px;
  cursor: pointer;
  height: 106px;
  padding: $hspace;
  opacity: 0.7;
  position: absolute;
  left: 1vw;
  transition: opacity 0.25s ease;
  width: 106px;

  &:hover {
    opacity: 1;
  }
}
